* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* starting with mobile display */
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}
nav > a {
  color: rgb(218, 180, 154);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 25px;
  text-align: center;
  padding: 5px 5px;
}

.has-border {
  border-radius: 25px;
  border: 2px solid #537783;
  background: none;
  /* padding: 10px; */
}
nav {
  font-size: 14px;
  width: 100%;
  text-align: center;
  /* padding: 15px 0; */
}
h1 {
  color: #537783;
  text-align: center;
  font-size: 30px;
  /* padding: 15px 0; */
}
main {
  /* display: flex;
  flex-direction: column; */
}
img {
  width: 250px;
  height: 285px;
  border-radius: 25px;
}

p {
  font-size: 16px;
  text-align: center;
  /* padding: 10px 15px; */
  line-height: 1.2;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 295px;
  width: 295px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.small-text {
  font-size: 18px;
  color: #537783;
  background-color: rgb(218, 180, 154);
  border-radius: 20px;
  /* padding: 10px 20px; */
  /* text-align: center; */
}
/* start tablet display */
@media (min-width: 576px) {
  .page_container {
    width: 80%;
  }
  nav {
    /* padding: 30px 0; */
  }
  h1 {
    font-size: 45px;
    /* padding: 40px 0 60px 0; */
  }
  .has-border {
    font-size: 22px;
  }
  .slideshow-container {
    max-width: 1000px;
    height: 275px;
    width: 295px;
    position: relative;
    margin: auto;
  }
  img {
    width: 250px;
    height: 285px;
    border-radius: 25px;
  }
  .small-text {
    /* padding: 60px 0 10px 0; */
    /* text-align: center; */
    font-size: 20px;
  }
  p {
    font-size: 26px;
    /* padding: 40px 30px 10px 30px; */
  }
}
/* start desktop responsive display */
@media (min-width: 992px) {
  .page_container {
    width: 60%;
  }
  nav > a {
    /* margin: 0 10px; */
  }
  nav {
    /* padding: 30px 0; */
  }
  h1 {
    font-size: 45px;
    /* padding: 40px 50px 60px 50px; */
  }
  .has-border {
    font-size: 22px;
  }
  .slideshow-container {
    max-width: 1000px;
    height: 430px;
    width: 400px;
    position: relative;
    margin: auto;
  }
  img {
    width: 250px;
    height: 425px;
    border-radius: 25px;
  }
  #headshot {
    height: 400px;
    width: 400px;
  }
  .small-text {
    /* padding: 60px 0 20px 0; */
    text-align: center;
    font-size: 20px;
  }
  p {
    font-size: 26px;
    /* padding: 30px 100px 10px 100px; */
  }
}
/* for extra large display screen */
@media (min-width: 1200px) {
  .page_container {
    width: 60%;
  }
  nav > a {
    /* margin: 0 10px; */
  }
  nav {
    /* padding: 30px 0; */
    font-size: 40px;
  }
  h1 {
    font-size: 56px;
    /* padding: 40px 50px 60px 50px; */
  }
  .has-border {
    font-size: 22px;
  }
  .slideshow-container {
    max-width: 1000px;
    height: 430px;
    width: 400px;
    position: relative;
    margin: auto;
  }
  img {
    width: 250px;
    height: 425px;
    border-radius: 25px;
  }
  #headshot {
    height: 400px;
    width: 400px;
  }
  .small-text {
    /* padding: 40px 0 20px 0; */
    text-align: center;
    font-size: 20px;
  }
  p {
    font-size: 26px;
    /* padding: 30px 100px 10px 100px; */
  }
}
